<% content_for :head do %>
  <script type="text/javascript">
	$(document).ready(function(){
		createImageLayer();
	})
  </script>
<% end %>

<div id="webcam"><img id="camstream" src="<%=@stream_address%>/?action=snapshot" /></div>