<header>

	<div id="top-menu" class="">

		<div id="top-menu-container" class="container">
					
			<ul id="secondary-menu" class="nav nav-pills pull-right">
				<li><a href="/camera/view/">Camera Stream</a></li>
				<li><a href="/camera/guide/">Guided Setup</a></li>
				<li><a href="/camera/settings/">Settings</a></li>
			</ul>
			
		</div><!-- #top-menu-container -->
			
	</div><!-- #top-menu -->

</header>